body{
    width: 70%;
    margin: auto;
}

table.skillTable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.skillTable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.skillTable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

#scoreTable td, th{
    width: 100px;
}

a{
    text-decoration: none;
}

a:link{
    color: #7c57c6;
}

a:hover{
    color: rgb(170, 5, 5);
}

a:visited{
    color: #666666;
}

.home_body{
    background-image: url('../pics/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-position: auto;
    background-position: center 0;
    background-color: rgb(55, 53, 53);
    position: relative;
    z-index: -1;
}

.home_body .mask{
    background-color: rgba(176, 176, 176, 0.8);
    left: 0;
    right: 0;
    height: 100%;
    margin: 0 auto;
    backdrop-filter: 20px;
    position: relative;
}

#home_screen{
    background-color:  rgba(216, 201, 201, 0);
}

.title{
    color: dodgerblue;
}

.logobar_icse{
    width: 100%;
    background-color: rgb(219, 227, 234);
    background-image: url(../pics/icse2024_Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size:100% 100%; 
    background-size:100%;
}

.logobar_icse_img{
    width: auto\9;
    height: auto;
    width: 100%;
}

.introduce_of_icse{
    width: 400px;
}